# VERİ BİLİMİ İÇİN İSTATİSTİK

> ÖRNEK TEORİSİ

In [9]:
import numpy as np

In [19]:
populasyon = np.random.randint(0,80,10000)

In [21]:
populasyon[0:10]

array([62, 14, 24,  7,  6, 32, 64, 72, 71, 21])

In [29]:
#orneklem cekimi
np.random.seed(115)
#her randomda aynı sayıyı getirebilir
orneklem=np.random.choice(a=populasyon, size=100)
orneklem[0:10]

array([69, 43, 64, 54, 28, 32, 42, 27, 54, 49])

In [31]:
#ortalama alma
orneklem.mean()

41.14

In [33]:
populasyon.mean()

39.6704

> ÖRNEKLEM DAĞILIMI

In [53]:
np.random.seed(10)
orneklem1=np.random.choice(a=populasyon, size=100)
orneklem2=np.random.choice(a=populasyon, size=100)
orneklem3=np.random.choice(a=populasyon, size=100)
orneklem4=np.random.choice(a=populasyon, size=100)
orneklem5=np.random.choice(a=populasyon, size=100)
orneklem6=np.random.choice(a=populasyon, size=100)
orneklem7=np.random.choice(a=populasyon, size=100)
orneklem8=np.random.choice(a=populasyon, size=100)
orneklem9=np.random.choice(a=populasyon, size=100)
orneklem10=np.random.choice(a=populasyon, size=100)

In [65]:
( orneklem1.mean() + orneklem2.mean() + orneklem3.mean()+ orneklem4.mean()
 +orneklem5.mean()+ orneklem6.mean() + orneklem7.mean()+ orneklem8.mean()+
 orneklem9.mean()+ orneklem10.mean())/10

39.269999999999996

# BETİMSEL İSTATİSTİKLER
> ortlama

> medyan

> mod

> kartiller

> değişim aralığı

> standart sapma

> kovaryans : iki değişken arasındaki ilişkinin değişkenlik ölçüsüdür.

> korelasyon : iki değişken arasındaki ilişkiyi, ilişkinin anlamlı olup olmadığını, ilişkinin şiddetini ve yönünü ifade eden istatistiksel bir tekniktir.

In [2]:
import seaborn as sns 
tips=sns.load_dataset("tips")
df=tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [86]:
!pip install researchpy
import researchpy as rp

Requirement already satisfied: researchpy in c:\users\selin\anaconda3\lib\site-packages (0.3.6)
Requirement already satisfied: scipy in c:\users\selin\anaconda3\lib\site-packages (from researchpy) (1.13.1)
Requirement already satisfied: numpy in c:\users\selin\anaconda3\lib\site-packages (from researchpy) (1.26.4)
Requirement already satisfied: pandas in c:\users\selin\anaconda3\lib\site-packages (from researchpy) (2.2.2)
Requirement already satisfied: statsmodels in c:\users\selin\anaconda3\lib\site-packages (from researchpy) (0.14.2)
Requirement already satisfied: patsy in c:\users\selin\anaconda3\lib\site-packages (from researchpy) (0.5.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\selin\anaconda3\lib\site-packages (from pandas->researchpy) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\selin\anaconda3\lib\site-packages (from pandas->researchpy) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\selin\anaconda3\lib\site-packages (from pandas->researchpy) (2023.3)
Requirement already satisfied: six in c:\users\selin\anaconda3\lib\site-packages (from patsy->researchpy) (1.16.0)
Requirement already satisfied: packaging>=21.3 in c:\users\selin\anaconda3\lib\site-packages (from statsmodels->researchpy) (23.2)

In [83]:
rp.summary_cont(df[["total_bill","tip","size"]])
#cont sayısal degiskenler

NameError: name 'rp' is not defined

In [24]:
rp.summary_cat(df[["sex","smoker","day"]])
#cat kategorik değişkenler

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79

In [26]:
df[["tip","total_bill"]].cov()
#kovaryans

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

In [28]:
df[["tip","total_bill"]].corr()
#korelasyon

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000

# Fiyat Stratejisi Karar Destek Sistemi
CEO fiyat belirleme konusunda bilimsel bir dayanak ve esneklik istiyor.
Satıcı, alıcı ve bir ürün var. Alıcılara ürüne ne kadar ücret öderdiniz diye soruluyor. Optimum fiyat bilimsel ve esnek olarak bulunmak isteniyor.

In [31]:
import numpy as np
fiyatlar=np.random.randint(10,110,1000)

In [33]:
fiyatlar.mean()
#mean ortalamayı verir.

58.54

In [35]:
import statsmodels.stats.api as sms

In [37]:
sms.DescrStatsW(fiyatlar).tconfint_mean()

(56.76319517188372, 60.316804828116275)

özet olarak 56 ve 60 arasında fiyat belirlenmelidir.

# Bernoulli Dağılımı

$ {\displaystyle f(k;p)=p^{k}(1-p)^{1-k}\quad {\text{for }}k\in \{0,1\}}$


$ {\displaystyle \operatorname {E} \left(X\right)=p}$

$\operatorname{ Var } [X]=pq=p(1-p)$

In [18]:
from scipy.stats import bernoulli

In [20]:
p=0.6 #tura gelme olasılığı - p iki sonuçlu bir olasılığı ifade eder

In [26]:
rv=bernoulli(p)
rv.pmf(k=0)

0.4000000000000001

# Büyük Sayılar Yasası

Bir rassal değişkenin uzun vadeli kararlılığını tanımlayan olasılık teoremidir.

In [73]:
import numpy as np
rng = np.random.RandomState(123)
for i in np.arange(1,21):
    deney_sayisi=2**i
    yazi_turalar=rng.randint(0,2,size=deney_sayisi)
    yazi_olasiliklari=np.mean(yazi_turalar)
    print("Atış Sayısı: ",deney_sayisi, "---", 'Yazı olasılığı: %.2f' % (yazi_olasiliklari*100))

Atış Sayısı:  2 --- Yazı olasılığı: 50.00
Atış Sayısı:  4 --- Yazı olasılığı: 0.00
Atış Sayısı:  8 --- Yazı olasılığı: 62.50
Atış Sayısı:  16 --- Yazı olasılığı: 43.75
Atış Sayısı:  32 --- Yazı olasılığı: 46.88
Atış Sayısı:  64 --- Yazı olasılığı: 56.25
Atış Sayısı:  128 --- Yazı olasılığı: 50.78
Atış Sayısı:  256 --- Yazı olasılığı: 52.73
Atış Sayısı:  512 --- Yazı olasılığı: 52.93
Atış Sayısı:  1024 --- Yazı olasılığı: 50.20
Atış Sayısı:  2048 --- Yazı olasılığı: 48.58
Atış Sayısı:  4096 --- Yazı olasılığı: 49.49
Atış Sayısı:  8192 --- Yazı olasılığı: 49.58
Atış Sayısı:  16384 --- Yazı olasılığı: 49.96
Atış Sayısı:  32768 --- Yazı olasılığı: 50.00
Atış Sayısı:  65536 --- Yazı olasılığı: 49.68
Atış Sayısı:  131072 --- Yazı olasılığı: 49.97
Atış Sayısı:  262144 --- Yazı olasılığı: 50.13
Atış Sayısı:  524288 --- Yazı olasılığı: 50.01
Atış Sayısı:  1048576 --- Yazı olasılığı: 50.09

In [65]:
1/5

0.2

# Binom Dağılımı

In [80]:
from scipy.stats import binom
p=0.01
n=100
rv=binom(n,p)
print(rv.pmf(1))
print(rv.pmf(5))
print(rv.pmf(10))

0.36972963764972666
0.002897787123761478
7.006035693977194e-08

# Poisson Dağılımı

In [93]:
from scipy.stats import poisson
lambda_=0.1
rv=poisson(mu=lambda_)
print("1->",rv.pmf(k=0))
print("2->",rv.pmf(k=3))
print("3->",rv.pmf(k=5))

1-> 0.9048374180359595
2-> 0.00015080623633932676
3-> 7.54031181696634e-08

# Normal Dağılım

In [102]:
from scipy.stats import norm

90 dan fazla olma olasılığı

In [104]:
1-norm.cdf(90,80,5) #norm.cdf(x, loc, scale)

0.02275013194817921

70 den fazla olma olasılığı

In [108]:
1-norm.cdf(70,80,5)

0.9772498680518208

85 ile 90 arasında olma olasılığı

In [111]:
norm.cdf(90,80,5)-norm.cdf(85,80,5)

0.13590512198327787